
- for i := 0; i < 3; i++ {
  li item
- }

-
  var list = []string{"Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"}
each item in list
  li= item


p
  = "This code is <escaped>!"


p= "This code is" + " <escaped>!"


p
  != "This code is <strong>not</strong> escaped!"


p!= "This code is" + " <strong>not</strong> escaped!"

